/* Root Flex */
.flex {
   display: flex;
   gap: var(--gap);
}

/* Directions */
.row {
   flex-direction: row;
}
.column {
   flex-direction: column;
}
.row-reverse {
   flex-direction: row-reverse;
}
.column-reverse {
   flex-direction: column-reverse;
}

/* Wrap */
.nowrap {
   flex-wrap: nowrap;
}
.wrap {
   flex-wrap: wrap;
}
.wrap-reverse {
   flex-wrap: wrap-reverse;
}

/* Justify */
.justify-flex-start {
   justify-content: flex-start;
}
.justify-flex-end {
   justify-content: flex-end;
}
.justify-center {
   justify-content: center;
}
.justify-space-between {
   justify-content: space-between;
}
.justify-space-around {
   justify-content: space-around;
}
.justify-space-evenly {
   justify-content: space-evenly;
}

/* Align */
.align-flex-start {
   align-items: flex-start;
}
.align-flex-end {
   align-items: flex-end;
}
.align-center {
   align-items: center;
}
.align-baseline {
   align-items: baseline;
}
.align-stretch {
   align-items: stretch;
}
