@use '@/styles/abstracts' as *;

/* Root PasswordInput */
.passwordInput {
   --input-size: var(--control-height-md);
   --input-font-size: var(--font-size-md);
   --input-padding-x: calc(var(--input-size, var(--control-height-md))/3);
   --input-right-section-size: calc(
      var(--input-size, var(--control-height-md)) - calc(
            var(--border-width) * 2
         )
   );

   display: flex;
   align-items: center;
   width: 100%;
   min-width: 220px;

   font-size: var(--input-font-size);
   line-height: var(--input-size);
   background: var(--control-background);
   height: var(--input-size);

   border: var(--control-border);
   border-radius: var(--control-radius);
   overflow: hidden;

   &:hover,
   &:focus-within {
      border-color: var(--color-primary);
   }

   // States
   &.error {
      --input-color: var(--color-error);
      --input-placeholder: var(--color-error);
      --input-placeholder-opacity: 0.7;
      border-color: var(--color-error);
   }

   &.success {
      border-color: var(--color-success);
   }

   &.disabled {
      cursor: not-allowed;
      background: var(--control-background-disabled);
      border-color: var(--control-border-disabled);
   }

   // Sizes
   &.sm {
      --input-size: var(--control-height-sm);
      --input-font-size: var(--font-size-sm);
   }
   &.lg {
      --input-size: var(--control-height-lg);
      --input-font-size: var(--font-size-lg);
   }
}

/* Input */
.input {
   all: unset;
   box-sizing: border-box;
   width: 100%;
   padding-inline: var(--input-padding-x);

   color: var(--input-color, var(--color-text));
   transition: border-color var(--motion-fast) ease;

   &::placeholder {
      color: var(--input-placeholder, var(--control-placeholder));
   }
}

/* Toggle Section */
.section {
   height: 100%;
   width: var(--input-right-section-size);
   display: flex;
   align-items: center;
   justify-content: center;
}

/* Toggle Button */
.toggle {
   all: unset;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   cursor: pointer;
   color: var(--control-icon);
   transition: color var(--motion-fast);
   font-size: 0.7em;

   &:hover {
      color: var(--control-icon-hover);
   }
}
